body {
  color: #414141;
  background-color: #ffffff;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
}

div {
  margin-bottom: 24px;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.btn-primary {
  color: #fff;
  background-color: #414141;
  border-color: #056572;
}

.btn-primary:hover {
  color: #fff;
  background-color: #056572;
  border-color: #414141;
}

.btn-primary[disabled] {
  background-color: #b0b0b0;
}

.btn-primary:hover[disabled] {
  background-color: #b0b0b0;
}

.game table, tr, td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 0px;
  margin: auto;
}

#startBtn {
  margin-left: 24px;
}
